.ikon{
    width: 32px;
}

header{
    display: flex;
    justify-content: space-between;
}

.nordlys{
    width: 25%;
}

.tekst{
    width: 25%;
}

section{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}